{% extends 'base.html' %}
{% load static %} <!-- Esta linha deve ser adicionada -->

{% block content %}
{% if user.is_authenticated %}
<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <h1>Tweets!</h1>
      <br />
      {% for tweet in tweets %}
      <div class="alert alert-dark" role="alert">
        <div class="container">
          <div class="row">
            <div class="col-1">
              {% if tweet.user.profile.profile_image %}
              <img src="{{ tweet.user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
                alt="{{ profile.user.username }}">

              {% else %}
              <img src="{% static 'images/default-profile.png' %}" width="50" height="50" class="rounded-circle"
                alt="{{ profile.user.username }}">
              {% endif %}
            </div>
            <div class="col-10">
              <strong>{{ tweet.body }}</strong><br />
              <small class="text-muted">
                ({{ tweet.created_at }}) por
                @{{ tweet.user.username|lower }}
              </small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-4">
      <br /><br /><br />
      {% if form %}
      <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-secondary">Postar Tweet</button>
      </form>
      {% endif %}
    </div><!--col-4-->
    {% else %}
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <h1 style="font-family: impact;">
            <br />
            Bem
            vindos ao X!
          </h1>
          <br />
          <!-- Renderizar a imagem -->
          <img src="{% static 'images/projectXTESTE.png' %}" class="x-center" alt="Imagen centro index">
          <br />
        </div>
      </div>
    </div>
    <footer>
      <br /><br />
      <div style="margin-top: 60px;">
        <center>
          <strong>
            <p>Projeto Acadêmico</p>
            <p style="font-style: italic;">Desenvolvido por: Danillo Guimarães</p>
          </strong>
        </center>
      </div>
    </footer>
    {% endif %}
    {% endblock %}