{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <h1>Tweets!</h1>
      <br />
      {% for tweet in tweets %}
      <div class="alert alert-dark" role="alert">
        <strong>{{ tweet.body }}</strong><br />
        <small class="text-muted">
          ({{ tweet.created_at }}) por
          @{{ tweet.user.username }}
        </small>
      </div>
      <br /><br />
      {% endfor %}
    </div>
    <div class="col-4">
      <br /><br /><br />
      {% if form %}
      <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-secondary">Postar Tweet</button>
      </form>
      {% endif %}
    </div><!--col-4-->
    {% endblock %}