{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if profile %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ profile.user.username }}'s Perfil</h1>
      <br />
      {% if tweets %}
      {% for tweet in tweets %}
      <div class="alert alert-dark" role="alert">
        <div class="container">
          <div class="row">
            <div class="col-1">
              {% if profile.profile_image %}
              <img src="{{ profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
                alt="{{ profile.user.username }}">
              {% else %}
              <img src="{% static 'images/default-profile.png' %}" width="50" height="50" class="rounded-circle"
                alt="{{ profile.user.username }}">
              {% endif %}
            </div>
            <div class="col-11">
              <strong>{{ tweet.body }}</strong><br />
              <small class="text-muted">
                ({{ tweet.created_at }}) por @{{ tweet.user.username|lower }} - {{ tweet.number_of_likes }} Curtidas -
                {% if user in tweet.likes.all %}
                <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-solid fa-heart" title="Descurtir"
                    style="color: red;"></i></a>
                {% else %}
                <a href="{% url 'tweet_like' tweet.id %}"><i class="fa fa-heart-o" title="Curtir"
                    style="color: red;"></i></a>
                {% endif %}
                <strong>|</strong>
                <a href="{% url 'tweet_show' tweet.id %}">
                  <i class="fa-solid fa-share" title="Compartilhar" style="color: green;"></i></a>
                {% if request.user.username == profile.user.username %}
                <strong>|</strong>
                <a href="{% url 'delete_tweet' tweet.id %}">
                  <i class="fa fa-trash-alt" title="Deletar" style="color: red;"></i></a>
                <strong>|</strong>
                <a href="{% url 'edit_tweet' tweet.id %}">
                  <i class="fas fa-pencil-alt" title="editar" style="color: rgb(30, 19, 189);"></i></a>
                {% endif %}
              </small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="center-mobile">
        <!-- Imagem de perfil -->
        <div class="text-center">
          <br /><br /><br />
          {% if profile.profile_image %}
          <img src="{{ profile.profile_image.url }}" class="profile-img rounded-circle">
          {% else %}
          <img src="{% static 'images/default-profile.png' %}" class="profile-img rounded-circle">
          {% endif %}
        </div>
        <br />
        <!-- Bootstrap card: Seguindo -->
        <center>
          {% if profile.homepage_link %}
          <a href="{{ profile.homepage_link }}" title="Website" target="new">
            <i class="fas fa-globe" style="color: gray;"></i></a>&nbsp;
          {% endif %}
          {% if profile.facebook_link %}
          <a href="{{ profile.facebook_link }}" title="Facebook" target="new">
            <i class="fab fa-facebook" style="color: gray;"></i></a>&nbsp;
          {% endif %}
          {% if profile.instagram_link %}
          <a href="{{ profile.instagram_link }}" title="Instagram" target="new">
            <i class="fab fa-instagram" style="color: gray;"></i></a>&nbsp;
          {% endif %}
          {% if profile.linkedin_link %}
          <a href="{{ profile.linkedin_link }}" title="Linkedin" target="new">
            <i class="fab fa-linkedin" style="color: gray;"></i></a>
          {% endif %}
          <br /><br />
          {% if profile.profile_bio %}
          <p align="justify" style="padding: 10px;">{{ profile.profile_bio }}</p>
          {% endif %}
        </center>
        <br />
        <div class="card profile-card">
          <h5 class="card-header"><strong>Seguindo</strong></h5>
          <div class="card-body">
            <p class="card-text">
              {% for following in profile.follows.all|slice:3 %}
              &nbsp;<a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br />
              {% endfor %}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'follows' profile.user.id %}" class="btn btn-m btn-outline-secondary"
              style="width: 100%;">Veja
              todos...</a>
          </div>
        </div>
        <br />
        <br />
        <!-- Bootstrap card: Seguido por -->
        <div class="card profile-card">
          <h5 class="card-header"><strong>Seguido por</strong></h5>
          <div class="card-body">
            <p class="card-text">
              {% for following in profile.followed_by.all|slice:3 %}
              <a href="{% url 'profile' following.user.id %}">@{{ following }}
              </a>&nbsp;

              {% if following in profile.follows.all %}
              <a href="{% url 'unfollow' following.user.id %}"><i class="fa fa-user-minus small" style="color: gray;"
                  title="Deixar de Seguir"></i></a>
              {% else %}
              <a href="{% url 'follow' following.user.id %}"><i class="fa fa-user-plus small" style="color: green;"
                  title="Seguir"></i></a>
              {% endif %}
              <br />
              {% endfor %}
            </p>
          </div><br>
          <div class="card-footer">
            <a href="{% url 'followers' profile.user.id %}" class="btn btn-m btn-outline-secondary"
              style="width: 100%;">Veja
              todos...</a>
          </div>
        </div>
      </div>
      <br />
      <!-- Seguir e deixar de seguir -->
      <form method="POST">
        {% csrf_token %}
        {% if profile in user.profile.follows.all %}
        <button class="btn btn-outline-danger follow-button" name="follow" value="unfollow" type="submit">Deixar de
          Seguir @{{profile.user.username|lower}}</button>
        {% else %}
        <button class="btn btn-outline-success follow-button" name="follow" value="follow" type="submit">Seguir
          @{{profile.user.username|lower}}</button>
        {% endif %}
      </form>
      <br />
      <!-- Checar o usuário correto (logado) -->
      {% if request.user.id == profile.user.id %}
      <a href="{% url 'update_user' %}" class="btn btn-outline-secondary follow-button">Atualizar Perfil</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
<br />
<br />
{% endif %}
{% endblock %}