{% extends 'base.html' %}

{% block content %}
{% if profile %}

<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <h1>{{ profile.user.username }}'s' Perfil</h1>
      <br />
      {% if tweets %}
      {% for tweet in tweets %}
      <div class="alert alert-dark" role="alert">
        <strong>{{ tweet.body }}</strong><br />
        <small class="text-muted">
          ({{ tweet.created_at }}) por
          @{{ tweet.user.username|lower }}
        </small>
      </div><br /><br />
      {% endfor %}
      {% endif %}
    </div>

    <div class="col-4">
      <br /><br /><br />
      <!--image perfil-->
      {% if profile.profile_image %}
      <img src="{{ profile.profile_image.url }}">
      {% endif %}
      <br /><br />
      <!--bootstra card-->
      <div class="card">
        <h5 class="card-header"><strong>Seguindo</strong></h5>
        <div class="card-body">
          <p class="card-text">
            <!--seguindo-->
            {% for following in profile.follows.all %}
            <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br />
            {% endfor %}
          </p>
        </div>
      </div>
      <!--bootstrap card-->
      <br /> <br />

      <!--bootstrap card-->
      <div class="card">
        <h5 class="card-header"><strong>Seguido por</strong></h5>
        <div class="card-body">
          <p class="card-text">
            <!--seguido por-->
            {% for following in profile.followed_by.all %}
            <a href="{% url 'profile' following.user.id %}">@{{ following }}</a><br />
            {% endfor %}
          </p>
        </div>
      </div>
      <br />

      <!--seguir e deixar de seguir-->
      <form method="POST">
        {% csrf_token %}
        {% if profile in user.profile.follows.all %}
        <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Deixar de Seguir
          @{{profile.user.username|lower}}</button>
        {% else %}
        <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Seguir
          @{{profile.user.username|lower}}</button>
        {% endif %}

      </form>
      <br />

      <!--Checar o usuário correto (logado)-->
      {% if request.user.id == profile.user.id %}
      <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Atualizar Perfil</a>
      {% endif %}
    </div><!--col-4-->
  </div>
</div>

{% endif %}
{% endblock %}