{% extends 'base.html' %}
{% load static %} <!-- Esta linha deve ser fora de comentários -->
{% block content %}
{% if user.is_authenticated %}

<h1>Procurar Tweets!</h1>
<br />

<form method="POST">
  {% csrf_token %}
  <input type="input" class="form-control" placeholder="Procurar Tweets" name="search">
  <br /> <br />

  <button type="submit" class="btn btn-secondary">Procurar Tweet</button>
</form>
<br /> <br />

{% if search %}
<h3>Sua pesquisa: {{ search }}</h3><br />
{% for tweet in searched %}
<div class="alert alert-dark" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-1">
        {% if tweet.user.profile.profile_image %}
        <img src="{{ tweet.user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
          alt="{{ tweet.user.username }}">
        {% else %}
        <img src="{% static 'images/default-profile.png' %}" width="50" height="50" class="rounded-circle"
          alt="{{ tweet.user.username }}">
        {% endif %}
      </div>
      <div class="col-10">
        <strong>{{ tweet.body }}</strong><br />
        <small class="text-muted">
          ({{ tweet.created_at }}) por
          <a href="{% url 'profile' tweet.user.id %}"> @{{ tweet.user.username|lower }}</a>
          &nbsp;
          {{ tweet.number_of_likes }} Curtida -
          {% if user in tweet.likes.all %}
          <a href="{% url 'tweet_like' tweet.id %}">
            <i class="fa-solid fa-heart" title="Descurtir" style="color: red;"></i></a>
          {% else %}
          <a href="{% url 'tweet_like' tweet.id %}">
            <i class="fa fa-heart-o" title="Curtir" style="color: red;"></i></a>
          {% endif %}
          <strong>|</strong>
          <a href="{% url 'tweet_show' tweet.id %}">
            <i class="fa-solid fa-share" title="Compartilhar" style="color: green;"></i></a>
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endif %}
{% endblock %}